.admin-page {
  padding: 40px;
  text-align: center;
}

.admin-title {
  font-size: 26px;
  font-weight: bold;
  color: #8a2be2;
  margin-bottom: 20px;
}

.fetch-btn {
  padding: 10px 20px;
  background: #8a2be2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.api-response {
  margin-top: 20px;
  padding: 20px;
  background: #f6e8ff;
  border-radius: 10px;
  white-space: pre-wrap;
  text-align: left;
}

.error-text {
  color: red;
  font-weight: bold;
}
